name: Test

permissions:
  pull-requests: write

on:
  workflow_dispatch:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        id: checkout
        uses: actions/checkout@v6

      - name: Install Node.js
        id: install-node
        uses: actions/setup-node@v4
        with:
          node-version: ${{ vars.NODE_VERSION  }}

      - name: PNPM Install
        id: install-pnpm
        uses: pnpm/action-setup@v4
        with:
          version: ${{ vars.PNPM_VERSION  }}
          run_install: true

      - name: Clean generated assets
        run: rm -rf ./dist ./types

      - name: Run code checks
        run: pnpm check

      - name: Run tests
        run: pnpm test

      - name: Build & generate examples
        run: pnpm examples

      - name: Save examples
        uses: actions/upload-artifact@v6
        with:
          name: examples
          path: examples
          retention-days: 3
